@import "colours";
@import "fonts";
@import "sizes";

.index-carousel {
  height: @header-height * 2;
  border-bottom: 4px solid @light-grey;
  overflow: hidden;
  .carousel-item {
    display: flex;
    align-items: center;
  }
}